html,
body {
	padding: 0;
	margin: 0;
	font-size: 0;
	background-color: #eeeeee;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	text-align: center;
}

body,
textarea,
input,
button {
	font-family: "Courier New",monospace;
	font-weight: bold;
}

.atomicity .field {
	text-align: left;
	font-size: 14px;
	height: 28px;
	margin: 0;
	padding: 5px;
	border: none;
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-user-select: text;
	-o-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.atomicity .stretchy.field {
	width: 100%;
	box-sizing: border-box;
}

.atomicity .resizable.field {
	resize: vertical;
}

.atomicity button.field {
	white-space: nowrap;
	cursor: pointer;
	background-color: #f0f0f0;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.atomicity button.field:hover {
	background-color: #f7f7f7;
}

.atomicity button.field:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.atomicity .table {
	display: table;
	border-spacing: 10px;
	width: 100%;
}

.atomicity .table-row {
	display: table-row;
}

.atomicity .table-row-group {
	display: table-row-group;
}

.atomicity .table-cell {
	display: table-cell;
	vertical-align: top;
}

.atomicity .greedy.table-cell {
	width: 100%;
}

.atomicity .hidden {
	display: none;
}

.atomicity .entry .section {
	display: none;
}

.atomicity .entry.expanded {
	height: auto;
	background-color: transparent;
	box-shadow: none;
}

.atomicity .entry .expand::before {
	content: 'Expand';
}

.atomicity .entry.expanded .expand::before {
	content: 'Hide';
}

.atomicity .entry.expanded .table-row.section {
	display: table-row;
}

.atomicity .entry.add .label {
	opacity: 0.5;
}

.atomicity #input,
.atomicity #output {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	min-width: 400px;
	width: 45%;
	margin: 20px;
}

.atomicity #input .label {
	vertical-align: top;
	font-size: 14px;
	color: #444444;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	padding: 5px;
	text-align: right;
	white-space: nowrap;
}

.atomicity #input .label:hover {
	background-color: #e7e7e7;
}

.atomicity #input .label:active {
	background-color: #e0e0e0;
}

.atomicity #input .entry {
	counter-increment: entry-counter;
}

.atomicity #input .entry .entry-counter::before {
	content: counter(entry-counter, decimal);
}

.atomicity #input .delete {
	color: #ff0000;
}

.atomicity #input .delete::before {
	content: 'x';
}

.atomicity #output .view.field {
	height: auto;
	overflow-x: auto;
	margin: 0 10px 10px;
}

.atomicity #hidden {
	display: none;
}

.atomicity #input .add::before {
	content: 'Add';
}
