html,
body {
	padding: 0;
	margin: 0;
	background-color: #eeeeee;
}

.atomicity {
	font-size: 0;
	text-align: center;
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.atomicity,
.atomicity textarea,
.atomicity input,
.atomicity button {
	font-family: "Courier New",monospace;
	font-weight: bold;
}

.atomicity .context {
	display: none;
}

.atomicity .context.visible {
	display: block;
}

.atomicity .field {
	text-align: left;
	font-size: 14px;
	height: 2em;
	margin: 0;
	padding: 5px;
	border: none;
	background-color: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	-moz-user-select: text;
	-o-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.atomicity .stretchy.field {
	width: 100%;
	box-sizing: border-box;
}

.atomicity .resizable.field {
	resize: vertical;
}

.atomicity button.field {
	white-space: nowrap;
	cursor: pointer;
	background-color: #c0c0c0;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
	-moz-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.atomicity button.field:hover {
	background-color: #c7c7c7;
}

.atomicity button.field:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.atomicity .table {
	display: table;
	border-spacing: 10px;
	width: 100%;
}

.atomicity .table-row {
	display: table-row;
}

.atomicity .table-row-group {
	display: table-row-group;
}

.atomicity .table-cell {
	display: table-cell;
	vertical-align: top;
}

.atomicity .greedy.table-cell {
	width: 100%;
}

.atomicity .hidden {
	display: none;
}

.atomicity .entry .section {
	display: none;
}

.atomicity .entry.expanded {
	height: auto;
	background-color: transparent;
	box-shadow: none;
}

.atomicity .entry .expand::before {
	content: 'Expand';
}

.atomicity .entry .expand:not(:empty)::before {
	content: 'Expand (';
}

.atomicity .entry .expand:not(:empty)::after {
    content: ')';
}

.atomicity .entry.expanded .expand::before {
	content: 'Hide';
}

.atomicity .entry.expanded .expand:not(:empty)::before {
	content: 'Hide (';
}

.atomicity .entry.expanded .table-row.section {
	display: table-row;
}
.atomicity .section.invalid .input,
.atomicity .section.invalid .input.field ~ .tagit {
	-moz-outline: red auto 5px;
	-o-outline: red auto 5px;
	-webkit-outline: red auto 5px;
	-ms-outline: red auto 5px;
   outline: red auto 5px;
   -mox-box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
   -o-box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
   -webkit-box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
   -ms-box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
   box-shadow: inset 0 0 10px rgba(255, 0, 0, 0.5);
}

.atomicity .entry.add .label {
	opacity: 0.5;
}

.atomicity .input-container,
.atomicity .output-container {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	min-width: 400px;
	width: 45%;
	margin: 20px;
}

.atomicity .input-container .label {
	vertical-align: top;
	font-size: 14px;
	color: #444444;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	padding: 5px;
	text-align: right;
	white-space: nowrap;
}

.atomicity .input-container .label:hover {
	background-color: #e7e7e7;
}

.atomicity .input-container .label:active {
	background-color: #e0e0e0;
}

.atomicity .input-container .entry {
	counter-increment: entry-counter;
}

.atomicity .input-container .entry .entry-counter::before {
	content: counter(entry-counter, decimal);
}

.atomicity .input-container .delete {
	color: #770000;
}

.atomicity .input-container .delete::before {
	content: 'x';
}

.atomicity .output-container .view.field {
	height: auto;
	overflow-x: auto;
	margin: 0 10px 10px;
}

.atomicity .hidden-container {
	display: none;
}

.atomicity .input-container .field.add::before {
	content: 'Add';
}

.atomicity .field ~ .tagit,
.atomicity .field ~ .tagit li {
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: none;
	border-radius: 0;
}

.atomicity .field ~ .tagit {
	font-family: "Courier New",monospace;
	text-shadow: 1px 1px rgba(255, 255, 255, 1);
	font-size: 14px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	cursor: text;
	padding-left: 1px;
}

.atomicity .field ~ .tagit .tagit-choice {
	padding: 4px;
	padding-right: 16px;
	margin: 1px;
	margin-left: 0;
	margin-bottom: 0;
	box-sizing: border-box;
	white-space: nowrap;
}

.atomicity .field ~ .tagit .tagit-choice .tagit-close .text-icon {
	margin-right: 2px;
	text-align: center;
	color: #770000;
	font-size: 14px;
	display: block;
}

.atomicity .field ~ .tagit .tagit-choice.remove .tagit-close .text-icon {
	display: none;
}

.atomicity .field ~ .tagit .tagit-choice.remove.ui-state-highlight {
	opacity: 0.5;
	background-color: #ffdddd;
}

.atomicity .field ~ .tagit .tagit-close .ui-icon-close {
	background: none;
	display: none;
}

.atomicity .resizable.field ~ .tagit {
	resize: vertical;
}

.atomicity .resizable.field ~ .tagit * {
	resize: none;
}

.atomicity .resizable.field ~ .tagit .tagit-new input {
	padding: 5px;
	padding-left: 4px;
}

.atomicity .context-switch-button-container {
	text-align: center;
	margin: 20px;
}

.atomicity button.context-switch.field.meta::before {
	content: 'Meta (click to switch)';
}

.atomicity button.context-switch.field.content::before {
	content: 'Content (click to switch)';
}
